{% extends 'base.html.twig' %}
{% block title %}
	Hello!!
{% endblock %}
{% block body %}
	<section class="produit">
		{% for Produit in produit %}
			<Produit>
				<h5>{{Produit.name}}</h5>
				<h5>{{Produit.prix}}</h5>
				<h5>{{Produit.Category}}</h5>
				<div class="metadata">

					<div class="discription">
						<div>
							<a href="{{path('produits_show',{'id':Produit.id})}}" class="btn btn-primary">Affichers details</a>
						</div>
					</Produit>
				{% endfor %}
			{% endblock %}
