{% extends 'base.html.twig' %}
{% block body %}
<produit>
<h5>{{produit.name}}</h5>
<h5>{{produit.prix}}</h5>
<div class="metadata"><h5>Ecrit le {{produit.createdAt | date('d/m/y')}}Dans category</h5></div>
<div class="discription">
{{produit.discription | raw}}
<hr>
</div>
</produit>
{% endblock body %}